
.heading
{
    border: 1px dashed white;
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-indent: 85px;
    font-size: 40px;
    text-shadow: 2px 3px 3px skyblue;
}
.menu
{
    border: 1px dashed white;
    background-color: rgb(236, 228, 228, 0.5);
    color: white;
    padding: 15px;
    border-radius: 20px;
}
a:link
{
    color: white;
    text-decoration: none;
    font-size: 17px;
    border-radius: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.7);
}
a:visited
{
    color: white;
    text-decoration: none;
    font-size: 17px;
    border-radius: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.7);
}
a:hover
{
    background-color: rgb(31, 31, 125);
    color: yellow; 
    border-bottom: 2px solid;
}